---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 1h
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: traefik
spec:
  interval: 5m
  chart:
    spec:
      chart: traefik
      version: "38.x"
      sourceRef:
        kind: HelmRepository
        name: traefik
        namespace: traefik
      interval: 1h
  values:
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.home.gawbul.io`)
        entryPoints:
          - websecure
        middlewares:
          - name: traefik-dashboard-auth
        tls:
          secretName: traefik-tls
    service:
      type: LoadBalancer
      annotations:
        metallb.universe.tf/loadBalancerIPs: "192.168.50.204"
      loadBalancerIP: "192.168.50.204"
    logs:
      access:
        enabled: true
        addInternals: false
    metrics:
      addInternals: false
      otlp:
        enabled: true
        grpc:
          enabled: true
          insecure: true
          endpoint: otel-collector-collector.monitoring.svc.cluster.local:4317
    tracing:
      addInternals: false
      otlp:
        enabled: true
        grpc:
          enabled: true
          insecure: true
          endpoint: otel-collector-collector.monitoring.svc.cluster.local:4317
    extraObjects:
      - apiVersion: traefik.io/v1alpha1
        kind: Middleware
        metadata:
          name: traefik-dashboard-auth
        spec:
          basicAuth:
            secret: traefik-dashboard-auth-secret
