---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: prometheus-community
  namespace: monitoring
spec:
  interval: 1h
  url: https://prometheus-community.github.io/helm-charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
  namespace: monitoring
spec:
  interval: 5m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "81.x"
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: monitoring
      interval: 1h
  values:
    alertmanager:
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - monitoring.home.gawbul.io
        paths:
          - /alertmanager
        tls:
          - secretName: monitoring-tls
            hosts:
              - monitoring.home.gawbul.io
      service:
        clusterPort: 9094
      alertmanagerSpec:
        storage:
          volumeClaimTemplate:
            spec:
              storageClassName: nfs-client
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
        routePrefix: /alertmanager
    coreDns:
      service:
        selector:
          k8s-app: coredns
    kubeControllerManager:
      enabled: false
    kubeProxy:
      enabled: false
    kubeScheduler:
      enabled: false
    grafana:
      env:
        JAEGER_AGENT_PORT: "5775"
      grafana.ini:
        server:
          root_url: "https://%(domain)s/grafana"
          serve_from_sub_path: true
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - monitoring.home.gawbul.io
        path: /grafana
        tls:
          - secretName: monitoring-tls
            hosts:
              - monitoring.home.gawbul.io
      initChownData:
        enabled: false
      persistence:
        enabled: true
        type: sts
        storageClassName: nfs-client
        accessModes:
          - ReadWriteOnce
        size: 20Gi
      sidecar:
        dashboards:
          env:
            SKIP_TLS_VERIFY: "true"
        datasources:
          env:
            SKIP_TLS_VERIFY: "true"
            ENABLE_WEB_SERVER: "false"
    prometheus:
      ingress:
        enabled: true
        ingressClassName: traefik
        hosts:
          - monitoring.home.gawbul.io
        path: /prometheus
        tls:
          - secretName: monitoring-tls
            hosts:
              - monitoring.home.gawbul.io
      prometheusSpec:
        additionalArgs:
          - name: web.enable-otlp-receiver
            value: ""
        enableRemoteWriteReceiver: true
        enableFeatures:
          - remote-write-receiver
        storageSpec:
          volumeClaimTemplate:
            spec:
              storageClassName: nfs-client
              accessModes:
                - ReadWriteOnce
              resources:
                requests:
                  storage: 50Gi
        routePrefix: /prometheus
