---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: steve@gawbul.io
    privateKeySecretRef:
      name: letsencrypt
    solvers:
    - selector:
        dnsZones:
          - "gawbul.io"
      dns01:
        cloudflare:
          email: steve@gawbul.io
          apiTokenSecretRef:
            name: cloudflare-api-token
            key: api-token
