---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    toolkit.fluxcd.io/tenant: gawbul
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: monitoring-tls
  namespace: monitoring
spec:
  secretName: monitoring-tls
  dnsNames:
    - monitoring.home.gawbul.io
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
