---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-tls
  namespace: traefik
spec:
  secretName: traefik-tls
  dnsNames:
    - traefik.home.gawbul.io
  issuerRef:
    name: letsencrypt
    kind: ClusterIssuer
